
<div id="content" class="container">
    <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">$4.95</span>
        </div>
        <img id="content-header-img" src="img/header-image.jpg" alt="Sell & Buy Anything Under $20 today!">
    </header>
    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">ShittyBaba <span class="font-weight-light">Marketplace</span></h1>
            <h3><small>By <a href="#" data-toggle="modal" data-target="#author-modal">Cyrus Khajvandi</a></small></h3>

            <p>Use ShittyBaba to bull and sell anything you want for $20 or less.  Find amazing bargains or sell your spare items quickly for cash in the most fun and awesome market ever! :)</p>

            <p><strong>Why ShittyBaba?</strong></p>
            <ul class="no-indent">
                <li>Buy anything under $20</li>
                <li>Sell anything under $20</li>
                <li>Buy and Sell things safely and efficiently powered by stripe payments</li>
            </ul>
        </article>
        <aside id="details-aside" class="col-sm-4">
            <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</a>
            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li class="list-group-item">You'll get one pair of used Nike's</li>
              <li class="list-group-item clearfix">
                <span class="pull-left content-qualifier">Size: 9 US </span>
                <span class="pull-right">Worn but durable Nike running shoe!</span>
              </li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
Made by Cyrus

<!-- Modal -->
<div class="modal fade" id="author-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span>About the Teacher</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p><strong>Mattan Griffel</strong></p>
                <p>Hey, I'm Mattan Griffel, co-founder of the Y Combinator backed <a href="http://www.onemonth.com" target="_blank">One Month</a> where I teach the best selling One Month Rails and One Month Growth Hacking.</p>
                <p>
                </p>
                <p>Follow me on Twitter <a href="https://twitter.com/CyrusKhajvandi" target="_blank">@cyruskhajvandi</a></p>
            </div>
            <div id="modal-right" class="pull-right">
                <img src="img/teacher-image.jpg" alt="Mattan Griffel">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>