
    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">Sh*ttyBaba <span class="font-weight-light">Marketplace</span></h1>

            <p>Use Sh*ttyBaba to buy and sell anything you want for $20 or less.  Find amazing bargains or sell your spare items quickly for cash in the most fun and awesome market ever! :)</p>

            <p><strong>Why Sh*ttyBaba?</strong></p>
            <ul class="no-indent">
                <li>Buy sh*t under $20</li>
                <li>Sell sh*t under $20</li>
                <li>Buy and Sell things safely and efficiently powered by stripe payments!</li>
            </ul>
        </article>
        <aside id="details-aside" class="col-sm-4">
            <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</a>

                <%= form_tag charges_path do %>
                 <article>
                   <label class="amount">
                     <span>Amount: $5.00</span>
                   </label>
                </article>

                 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                   data-key="XXXXXX"
                   data-description="A month's subscription"
                   data-amount="500"></script>
                <% end %>

            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li class="list-group-item">You'll get one pair of used Nike's</li>
              <li class="list-group-item clearfix">
                <span class="pull-left content-qualifier">Size: 9 US </span>
                <span class="pull-right">Worn but durable Nike running shoes!</span>
              </li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
<font color="black"> Made with <img src="http://emojipedia-us.s3.amazonaws.com/cache/6e/aa/6eaa146fa36393e9eb4eec62c9d29334.png" alt="Mountain View" style="width:30px;height:30px;"> in Redwood City </font>


<!-- Modal -->
<div class="modal fade" id="author-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span>About the Teacher</h4>
      </div>
      <div class="modal-body clearfix">
                            <p>Follow me on Twitter <a href="https://twitter.com/CyrusKhajvandi" target="_blank">@cyruskhajvandi</a></p>
            </div>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
